/* feature css für convien web */

/* mobile first : screenS < 576px */
.featureModal {
  display: none;
}
.featureBanner {
  display: block;
}
.mainfeatureContainer {
  width: 90vw;
  margin: auto;
  padding: 20vh 0 30vh 0;
  color: var(--darkGrey);
}
.mainfeatureTitle {
  display: flex;
    display: -webkit-flex;
    display: -moz-flex;
  text-align: center;
  align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
  justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
.checklistTitle {
  text-align: center;
  line-height: 40px;
}
.checklist { /* list-style-image, align with list text */
  background: url('../img/iconCheck-r.svg') no-repeat left top;
  list-style: none;
  margin-left: -20px;
  padding-left: 40px;
}
.featureContainer { /* for feature banners in feature.html */
}
.featureModalContainer { /* for feature modal pages in featureModal.html */
  height: 90vh;
  margin: 5vh 7.5vw 5vh 7.5vw;
}
.featureTitleContainer {
  padding: 5vh 0 5vh 0;
  display: flex;
    display: -webkit-flex;
    display: -moz-flex;
  align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
}
.horizontalLeft{
  width: 10vw;
  padding-right: 0px;
}
.horizontalRight{
  flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
  padding-left: 20px;
}
.titleContainer{ /* default flex-direction: row ; default div layout: column */
  display: flex;
    display: -webkit-flex;
    display: -moz-flex;
}
.titleTextContainer{
  color: white;
  margin-left: 20px;
  display: flex;
    display: -webkit-flex;
    display: -moz-flex;
  flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
  justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
.featureOuterContainer {
  padding: 0 5vw 0 5vw;
}
.featureInnenContainerUp {
  min-height: auto;
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}
.featureInnenContainerDown {
  min-height: auto;
  margin: 0 5% 10% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}
.featureContentTitle {
  color: white;
  margin: 0 0 40px 0;
  text-align: center;
}
.featureContent {
  color: white;
  margin: 0 0 0 0;
}

/* screenM 576px - 767px */
@media (min-width: 576px){
}

/* screenL 768px - 991px */
@media (min-width: 768px){
  .mainfeatureContainer {
    width: 85vw;
  }
  .featureOuterContainer {
    padding: 0 7.5vw 0 7.5vw;
  }
}

/* screenXL 992px - 1199px */
@media (min-width: 992px){
}

/* screenXL > 1200px */
@media (min-width: 1200px){
  .featureModal {
    display: block;
  }
  .featureBanner {
    display: none;
  }
  .mainfeatureContainer {
    width: 80vw;
  }
  .featureOuterContainer {
    padding: 0 15vw 0 15vw;
  }
  .featureInnenContainerUp,
  .featureInnenContainerDown {
    margin: 5vh 0 15vh 0;
    min-height : 60vh;
  }
  .featureContentTitle {
    text-align: left;
  }
  .horizontalLeft{
    width: 15vw;
    padding-right: 60px;
  }
  .horizontalRight{
    padding-left: 60px;
  }
  .checklist {
    margin-left: -40px;
    padding-left: 40px;
  }
}
