/* css für convien web Contact Us & Footer */

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footerBottom {
  font-size: 14px;
  line-height: 60px;
  color: white;
  text-align: center;
  background-color: var(--lightGrey);
}

.contactUsContainer {
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea,
#contact button[type="submit"] { font:400 16px/20px "Quicksand", sans-serif; }

#contact {
	padding-top:40px;
  width: 100%;
	margin:0;
}

fieldset {  /* remove fieldset default border */
	border: medium none !important;
  padding: 0;
  margin: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
	width: calc(100% - 20px);
  border: none;
	border-bottom: 1px solid var(--lightGrey);
	background: white;
	margin: 10px -20px 10px 0;
	padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border-bottom: 1px solid var(--darkGrey);
}
#contact input:focus {
	outline: 0;
	border-bottom: 1px solid var(--darkGrey);
}

#contact textarea {
  height: 141px;
	max-width: 100%;
  border: 1px solid var(--lightGrey);
  border-radius: 3px;
  margin-top: 30px;
  resize: none;
}
#contact textarea:hover {
	border: 1px solid var(--darkGrey);
}
#contact textarea:focus {
	outline: 0;
	border: 1px solid var(--darkGrey);
}

::-webkit-input-placeholder {
 color: var(--lightGrey);
}
:-moz-placeholder {
 color: var(--lightGrey);
}
::-moz-placeholder {
 color: var(--lightGrey);
}
:-ms-input-placeholder {
 color: var(--lightGrey);
}

#contact button[type="submit"] {
	cursor:pointer;
	width: 100%;
	border: none;
  border-radius: 3px;
	background-image: linear-gradient(var(--lightGrey), var(--darkGrey));
	color: white;
	margin: 20px 0 0 0;
	padding: 10px;
	font-size: 16px;
}
#contact button[type="submit"]:hover {
	background-image: linear-gradient(var(--convienRed), var(--darkRed));
  transition: background-image 0.3s ease-in-out;
    -webkit-transition: background-image 0.3s ease-in-out;
  	-moz-transition: background-image 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow:inset 0 1px 3px var(--black50);
}

/* screenM 576px - 767px */
@media (min-width: 576px){

}

/* screenL 768px - 991px */
@media (min-width: 768px){

}

/* screenXL 992px - 1199px */
@media (min-width: 992px){

}

/* screenXL > 1200px */
@media (min-width: 1200px){
  #contact textarea {
    height: 141px;
    width: calc(100% - 60px);
  	max-width: 100%;
    border: 1px solid var(--lightGrey);
    border-radius: 3px;
    margin: 10px 0 10px 40px;
    resize: none;
  }
  #contact button[type="submit"] {
    width: auto;
    display: block;
    float: right;
    margin: 10px 0 0 0;
    padding: 10px 20px 10px 20px;
  }
}
