/* css für convien web Header */

.headerContainer {
	padding: 40px;
	width: auto;
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
	justify-content: space-between;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
}
.topRight {
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
}
.languagePicker {
	font-size: 20px;
	color: white;
	padding: 0;
	margin: 0;
	margin-right: 40px;
	cursor: pointer;
}
.languagePickerUnselected {
	opacity: 0.5;
}
.languagePickerUnselected:hover {
	text-decoration: underline;
	opacity: 0.8;
}
.verticalLine {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
	@media (max-width: 1199px) and (min-width: 768px) {
		.headerContainer {
			padding: 24px;
		}
		.languagePicker {
			font-size: 18px;
			margin-right: 36px;
		}
	}
	@media (max-width: 767px) {
		.headerContainer {
			padding: 16px;
		}
		.languagePicker {
			display: none;
			font-size: 16px;
			margin-right: 24px;
		}
	}

/* modal overlay */
.modal{
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeIn;
  animation-duration: 0.4;
		-webkit-animation-name: fadeIn;
		-webkit-animation-duration: 0.4s;
}
.modalMenuContent{
  position: fixed;
  width: 300px;
	height: 100%;
  overflow: hidden;
  z-index: 2;
  top: 0;
  right: 0;
	bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: slideIn;
  animation-duration: 0.4s;
		-webkit-animation-name: slideIn;
		-webkit-animation-duration: 0.4s;
}
.alignCenterMenu{
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-flow: column;
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
	justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
}
.menuTexts{
	font-size: 20px;
	line-height: 40px;
	color: white;
	text-align: center;
}
.menuTexts:hover {
	text-decoration: underline;
}
@-webkit-keyframes slideIn {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 0.8}
}
@keyframes slideIn {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 0.8}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

	@media (max-width: 767px) {
		.modalMenuContent {
			width: 100%;
		}
	}
