/* css für convien web Header */

/* mobile first : screenS < 576px */
.headerContainer {
	padding: 16px;
	width: auto;
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
	justify-content: space-between;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
}
.topRight {
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
}
.languagePicker {
	display: none;
	font-size: 16px;
	margin-right: 24px;
	color: white;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.languagePickerUnselected {
	opacity: 0.5;
}
.languagePickerUnselected:hover {
	text-decoration: underline;
	opacity: 0.8;
}
.verticalLine {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

/* screenM 576px - 767px */
@media (min-width: 576px){

}

/* screenL 768px - 991px */
@media (min-width: 768px){
	.headerContainer {
		padding: 24px;
	}
	.languagePicker {
		display: block;
		font-size: 18px;
		margin-right: 36px;
	}
}

/* screenXL 992px - 1199px */
@media (min-width: 992px){

}

/* screenXL > 1200px */
@media (min-width: 1200px){
	.headerContainer {
		padding: 40px;
	}
	.languagePicker {
		font-size: 20px;
		margin-right: 40px;
	}
}
