/* css für convien web images */

/* mobile first : screenS < 576px */
.imgScale{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.iconMenu{
	background-image: url("../img/iconMenu-w.svg");
	cursor: pointer;
}
.iconMenuClose{
	background-image: url("../img/iconMenuClose-w.svg");
	cursor: pointer;
	position: absolute;
	top: 18px;
	right: 30px;
	z-index: 3;
}
.logoConvien{ /* convien icon for menu */
	background-image: url("../img/logoConvien-w.svg");
	width: 130px;
	height: 100px;
}
.logoConvienG{ /* only text with icon for featureEasy mainfeature */
	background-image: url("../img/logoConvien-g.svg");
	width: 180px;
	height: 60px;
}
.featureMoneySaving{
	background-image: url("../img/featureMoneySaving.svg");
	min-height: 400px;
}
.featureTravelInfo{
	background-image: url("../img/featureTravelInfo.svg");
	min-height: 400px;
}
.featureEcoFriendly{
	background-image: url("../img/featureEcoFriendly.svg");
	min-height: 400px;
}
.featureMeeting{
	background-image: url("../img/featureMeeting.svg");
	min-height: 400px;
}
.featureSecurity{
	background-image: url("../img/featureSecurity.svg");
	min-height: 400px;
}

/* CONVIEN EASY */
.backgroundEasy {
	background-image: url("../img/backgroundEasy.jpg");
}
.logoEasy{
	background-image: url("../img/logoEasy-w.svg");
	background-position: left;
	height: 46px;
	width: 200px;
	/*width: 270px;*/
	background-size: 100%;
}
.iconMoneySavingWW{
	background-image: url("../img/iconMoneySaving-ww.svg");
}
.iconTravelInfoWW{
	background-image: url("../img/iconTravelInfo-ww.svg");
}
.iconEcoFriendlyWW{
	background-image: url("../img/iconEcoFriendly-ww.svg");
}
.iconMeetingWW{
	background-image: url("../img/iconMeeting-ww.svg");
}
.iconLoginR{
	background-image: url("../img/iconLogin-r.svg");
}

.iconMoneySavingWW,
.iconTravelInfoWW,
.iconMeetingWW,
.iconEcoFriendlyWW { margin: 10px; }

.iconMoneySavingWW:hover,
.iconTravelInfoWW:hover,
.iconMeetingWW:hover,
.iconEcoFriendlyWW:hover,
.iconLoginR:hover { background-size: 95%; }

/* CONVIEN BYOOBE */
.backgroundByoobe {
	background-image: url("../img/backgroundByoobe.jpg");
	background-position: left bottom;
}
.logoByoobe {
	background-image: url("../img/logoByoobe-g.svg");
	background-position: left;
	height: 46px;
	width: 200px;
	/*width: 320px;*/
	background-size: 100%;
}
.iconMoneySaving {
	background-image: url("../img/iconMoneySaving.svg");
}
.iconTravelInfo {
	background-image: url("../img/iconTravelInfo.svg");
}
.iconEcoFriendly {
	background-image: url("../img/iconEcoFriendly.svg");
}
.iconMeeting {
	background-image: url("../img/iconMeeting.svg");
}
.iconSecurity {
	background-image: url("../img/iconSecurity.svg");
}
.iconRequestR {
	background-image: url("../img/iconRequest-r.svg");
}

.iconMoneySaving,
.iconTravelInfo,
.iconEcoFriendly,
.iconMeeting,
.iconSecurity { margin: 10px; }

.iconMoneySaving:hover,
.iconTravelInfo:hover,
.iconEcoFriendly:hover,
.iconMeeting:hover,
.iconSecurity:hover,
.iconRequestR:hover { background-size: 95%; }

/* CONVIEN VENUE & feuture pages */
.backgroundVenue {
	background-image: url("../img/backgroundVenue.jpg");
	background-position: left bottom;
}
.logoVenue {
	background-image: url("../img/logoVenue-w.svg");
	background-position: left;
	height: 46px;
	width: 200px;
	/*width: 295px;*/
	background-size: 100%;
}
.iconMoneySavingW {
	background-image: url("../img/iconMoneySaving-w.svg");
}
.iconTravelInfoW {
	background-image: url("../img/iconTravelInfo-w.svg");
}
.iconEcoFriendlyW {
	background-image: url("../img/iconEcoFriendly-w.svg");
}
.iconMeetingW {
	background-image: url("../img/iconMeeting-w.svg");
}
.iconSecurityW {
	background-image: url("../img/iconSecurity-w.svg");
}
.iconRequestY {
	background-image: url("../img/iconRequest-y.svg");
}

.iconMoneySavingW,
.iconTravelInfoW,
.iconEcoFriendlyW,
.iconMeetingW,
.iconSecurityW { margin: 10px; }

.iconMoneySavingW:hover,
.iconTravelInfoW:hover,
.iconEcoFriendlyW:hover,
.iconMeetingW:hover,
.iconSecurityW:hover,
.iconRequestY:hover { background-size: 95%; }

.icon40 { height: 32px; width: 32px; }
.icon100 { height: 80px; width: 80px; }

.iconFacebook {
	background-image: url("../img/iconFacebook-w.svg");
}
.iconInstagram {
	background-image: url("../img/iconInstagram-w.svg");
}


/* screenM 576px - 767px */
@media (min-width: 576px){
	.logoEasy { width: 270px; }
	.logoByoobe { width: 320px; }
	.logoVenue { width: 295px; }
}

/* screenL 768px - 991px */
@media (min-width: 768px){
	.iconMenuClose{
		top: 24px;
		right: 38px;
	}
	.logoConvienG{
		width: 150px;
		height: 30px;
	}

	.logoEasy,
	.logoByoobe,
	.logoVenue { background-size: 90%; }

	.icon40 { height: 36px; width: 36px; }
	.icon100 { height: 90px; width: 90px; }
}

/* screenXL 992px - 1199px */
@media (min-width: 992px){

}

/* screenXL > 1200px */
@media (min-width: 1200px){
	.iconMenuClose{
		top: 40px;
		right: 55px;
	}

	.logoEasy,
	.logoByoobe,
	.logoVenue { background-size: 100%; }

	.iconMoneySaving,
	.iconTravelInfo,
	.iconEcoFriendly,
	.iconMeeting,
	.iconSecurity { margin: 15px; }

	.iconMoneySavingW,
	.iconTravelInfoW,
	.iconEcoFriendlyW,
	.iconMeetingW,
	.iconSecurityW { margin: 15px; }

	.icon40 { height: 40px; width: 40px; }
	.icon100 { height: 100px; width: 100px; }
}
