/* main css für convien web */

:root {
	--lightGrey: #9b9b9b;
	--darkGrey: #4a4a4a;
	--white: #ffffff;
	--black50: rgba(0, 0, 0, 0.5);
  --convienRed: #ae0018;
  --darkRed: #770010;
  --convienYellow: #F5A623;
	--neonYellow: #F8E71C;
  --convienGreen: #417505;
  --convienBlue: #005096;
}

.border{
  border-width: 1px;
  border-style: solid;
  border-color: yellow;
}
.borderRed{
  border-width: 3px;
  border-style: solid;
  border-color: red;
}
.hr {
	border: 1px solid;
}
.hrwhite {
	border: 1px solid;
	color: white;
}
.hrBlack50 {
	border: 1px solid;
	color: var(--black50);
}
.hrlightGrey {
	border: 1px solid;
	color: var(--lightGrey);
}
.hrdarkGrey {
	border: 1px solid;
	color: var(--darkGrey);
}

html, body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}
button {
	background-color: transparent;
  border: none;
	margin: 0;
	padding: 0;
  text-align: center;
}

/* mobile first : screenS < 576px */
/* Langing Page */
.landingPageContainer {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 100vh;
}
.contentContainer{
  width: 85vw;
  margin: auto;
	margin-top: 10vh;
	height: calc(90vh - 78px);
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
  flex-flow: column;
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
}
.contentTitle{
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.contentSubtitle{
  color: white;
  margin: 20px 0 20px 0;
}
.alignCenter{ /* convien byoobe & convien venue */
  text-align: center;
}
.featureContainerCenter{ /* for icons in landing page */
  margin-top: 20px;
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	justify-content: center;
		-webkit-justify-content: center;
		justify-content: center;
  flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
}
.alignRight{	/* convien easy */
  text-align: right;
}
.featureContainerRight{	 /* for icons in landing page */
  margin-top: 20px;
  margin-right: -10px;
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	justify-content: flex-end;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
	flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
}
.contactBtn {
	display: flex;
	z-index: -1;
	height: 80px;
	border-radius: 50px;
	border-width: 0px;
	box-shadow: 0 2px 4px 0 var(--black50);
	cursor: pointer;
}
.contactBtnText {
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-flow: column;
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
	justify-content: center;
		-webkit-justify-content: center;
		justify-content: center;
	text-align: left;
	color: white;
	margin-right: 20px;
}

@media (max-width: 356px){
	.featureContainerCenter, .featureContainerRight {
		display: none; /* icons on the small mobile are hiding */
	}
}
@media only screen
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
	.featureContainerCenter, .featureContainerRight {
		display: none; /* icons on the mobile lanscape are hiding */
	}
}

/* screenM 576px - 767px */
@media (min-width: 576px){

}

/* screenL 768px - 991px */
@media (min-width: 768px){
	.contentContainer{
		width: 80vw;
		height: calc(90vh - 94px);
	}
	.contactBtn {
		height: 90px;
	}
}

/* screenXL 992px - 1199px */
@media (min-width: 992px){

}

/* screenXL > 1200px */
@media (min-width: 1200px){
	.contentContainer{
		width: 75vw;
		height: calc(90vh - 126px);
	}
	.contactBtn {
		height: 100px;
	}
}

.btnRed{
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  border-radius: 30px;
  border-width: 0px;
  box-shadow: 0 2px 4px 0 var(--black50);
  background-image: linear-gradient(var(--convienRed), var(--darkRed));
  cursor: pointer;
}
a:link, a:visited, a:hover, a:active {
	color: white;
  text-decoration: none;
}

/* tooltips bottom for feature icons */
.tooltip{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  width: 160px;
  font-size: 14px;
  background-color: var(--convienRed);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -90px;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* arrow at the top of the tooltip */
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--convienRed) transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* modal overlay */
.modal{
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fadeIn;
  animation-duration: 0.4;
		-webkit-animation-name: fadeIn;
		-webkit-animation-duration: 0.4s;
}
.modalMenuContent{
  position: fixed;
  width: 100%;
	height: 100%;
  overflow: hidden;
  z-index: 2;
  top: 0;
  right: 0;
	bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  animation-name: slideIn;
  animation-duration: 0.4s;
		-webkit-animation-name: slideIn;
		-webkit-animation-duration: 0.4s;
}
.alignCenterMenu{
	display: flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-flow: column;
		-webkit-flex-flow: column;
		-moz-flex-flow: column;
	align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
	justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;
}
.menuTexts{
	font-size: 20px;
	line-height: 40px;
	color: white;
	text-align: center;
}
.menuTexts:hover {
	text-decoration: underline;
}
@-webkit-keyframes slideIn {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 0.8}
}
@keyframes slideIn {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 0.8}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media (min-width: 767px) {
	.modalMenuContent {
		width: 300px;
	}
}
